/* This file is for your main application css. */

//$body-bg: #EEE;
body {
  height: 100%;
}

.container {
  background-color: #EEE;
  height: 100%;
}

p.register-text {
  margin-bottom: 0px; 
}

.profile,
span {
  padding: 10px;
}

@import "~bootstrap/scss/bootstrap";
