<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TaskTracker · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="col-7">
          <a class="navbar-brand" href="/">Task Tracker</a>
        </div>
        <div class="col-5">
          <%= if @current_user do %>
            <p>
              User: <%= @current_user.email %> |
              <%= link("Logout", to: Routes.session_path(@conn, :delete),
                method: :delete) %>
            </p>
          <% else %>
            <%= form_for @conn, Routes.session_path(@conn, :create),
                    [class: "form-inline my-2"], fn f -> %>
              <%= text_input f, :email, class: "form-control" %>
              <%= submit "Login", class: "btn btn-secondary" %>
            <% end %>
            <p class="register-text">No account? <%= link "Click here to register!", to: Routes.user_path(@conn, :new) %></p>
          <% end %>
        </div>
      </nav>

      <div class="row">
        <div class="col-12">
          <%= if get_flash(@conn, :info) do %>
            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
          <% end %>       
          <%= if get_flash(@conn, :error) do %>
            <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
          <% end %>
        </div>
      </div>
     
      <div class="row my-4"> 
        <div class="col-8">
          <%= render @view_module, @view_template, assigns %>
        </div>

        <div class="col-4">
          <%= if @current_user do %>
            <%= render TaskTrackerWeb.TaskView, "index.html",
                Map.put(assigns, :tasks, @current_user.tasks) %>
          <% end %>
        </div>
      </div>
    </div>
    
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
